*{margin: 0;
    padding: 0;
}

                                                                                    /* CABEÇALHO */
.cabecalho{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 100%;
    color: aliceblue;
}

.menu{
    
   height: 50px;
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu a:hover{
    color: aqua;
}


                                                                                    /*APRESENTAÇÃO*/


.apresentacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
    width: 100%;
   
}

.tituloApresentacao{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    height: 100%;
    width: 60%;
   
}

#imgApresentacao{
    height: 100%;
    width: 40;
}
.imgApresentacao{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.iconesApresentacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 160px;
    width: 100%;
    
}

.iconBloco{
    border-radius: 10px;
    border: 1px solid red;
    height: 150px;
    width: 150px;
}

h1{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
   
    width: 75%;
    height: 150px;
}

h3{

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
}

.iconBloco{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
    
}

#iconBloco{
    height: 50%;
    color: red;
}


                                                                                    /* CARROSSEL */


.carrossel{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.sliders{
    width: 400%;
    height: 400px;
    display: flex;

}

.carrossel input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}


.manual-navegacao{
    position: absolute;
    width: 800px;
    margin-top: 240px;
    display: flex;
    justify-content: center;
}


.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background-color: aliceblue;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegacao div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.navegacao{
    position: absolute;
    width: 800px;
    margin-top: 240px;
    display: flex;
    justify-content: center;


}

.navegacao div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacao .auto-btn1{
    background-color: aliceblue;
}

#radio2:checked ~ .navegacao .auto-btn2{
    background-color: aliceblue;
}

#radio3:checked ~ .navegacao .auto-btn3{
    background-color: aliceblue;
}

#radio4:checked ~ .navegacao .auto-btn4{
    background-color: aliceblue;
}
